/* Bootstrap default styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* Custom page CSS
-------------------------------------------------- */
* {
    color: #3b3a36;
}

body {
    background-color: #eff2eb;
}

.navbar {
    background-color: #c0dfd9;
}

.navbar a {
    color: #3b3a36;
}

.pet-title {
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 10px;
}

#map {
    width: 100%;
    height: 400px;
}

.pet-thumbnail {
    max-height: 200px;
    height: 200px;
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;
    margin: 0 auto;
}

.pet-image {
    max-width: 100%;
    max-height: 400px;
    display: flex;
    margin: 0 auto;
    object-fit: contain;
}

.position-history {
    cursor: pointer;
}

.position-history.inactive {
    cursor: auto;
    opacity: 0.6;
}

.history-marker {
    cursor: pointer;
}

.history-marker.list-group-item {
    background-color: transparent;
}

.history-marker.selected {
    font-weight: bold;
}

#list-filters{
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#list-filters .form-group{
    margin-right: 10px;
    margin-left: 10px;
}

.pet-buttons button{
    margin-right: 10px;
}

.card-text{
    height: 3em;
    overflow: hidden;
}