{% extends 'pets/base.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row pet-title">
            <h3>{{ pet.title }}</h3>
        </div>
        <div class="row">
            <div class="col">
                <img class="card-img-top pet-image"
                     src="{{ pet.image.url }}"
                     alt="Pet photo">
                <h4>Description</h4>
                <p>{{ pet.description }}</p>
            </div>
            <div class="col">
                <div id="map"
                        {% if pet.petposition_set %}
                     data-longitude="{{ pet.petposition_set.last.longitude }}"
                     data-latitude="{{ pet.petposition_set.last.latitude }}"
                        {% else %}
                     data-longitude="0"
                     data-latitude="0"
                        {% endif %}
                ></div>

                <div id="accordion">
                    <div id="historyHeader">
                        <h4 class="position-history {% if pet.petposition_set.all|length == 0 %}inactive{% endif %}"
                                {% if pet.petposition_set.all|length > 0 %}
                            data-toggle="collapse" data-target="#collapseHistory" aria-controls="collapseHistory"
                                {% endif %}
                        >
                            Location History ({{ pet.petposition_set.all|length }})
                        </h4>
                    </div>

                    <div id="collapseHistory" class="collapse" aria-labelledby="historyHeader"
                         data-parent="#accordion">
                        <ul class="list-group list-group-flush">
                            {% for position in pet.petposition_set.all reversed %}
                                <li class="list-group-item history-marker {% if forloop.first %}selected{% endif %}"
                                    data-longitude="{{ position.longitude }}"
                                    data-latitude="{{ position.latitude }}">
                                    {{ position.input_date }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                {% if pet.phone %}
                    <h4>Phone</h4>
                    <p>{{ pet.phone }}</p>
                {% endif %}
                {% if pet.email %}
                    <h4>Email</h4>
                    <p>{{ pet.email }}</p>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}