{% extends 'pets/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block javascript %}
    <script src="{% static "pets/js/petList.js" %}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/list.css" %}">
{% endblock %}

{% block body %}
    <div class="row" id="list-filters">
        <form method="post">
            <div class="form-inline">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form | crispy }}
                </div>
            </div>

        </form>
    </div>
    {% if pets %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for pet in pets reversed %}
                        {% include "pets/pet_tile.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <h2>No pets found</h2>
    {% endif %}


{% endblock %}