{% extends 'pets/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block javascript %}
    <script src="{% static "pets/js/petPosition.js" %}"></script>
{% endblock %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy}}
        <div id="map"></div>
        <input type="submit" class="btn btn-success" value="Save pet">
    </form>
{% endblock %}