{% if pet %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-header"> {{ pet.title }}</div>
            <img class="card-img-top pet-thumbnail"
                 src="{{ pet.image }}"
                 alt="Pet photo">
            <div class="card-body">
                <p class="card-text">{{ pet.description }}</p>
                <div class="pet-buttons">
                    <div class="btn-group">
                        <a href="{% url 'pets:details' pet.id %}">
                            <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                        </a>
                        <a href="{% url 'pets:new_position' pet.id %}">
                            <button type="button" class="btn btn-sm btn-outline-info">Update Position</button>
                        </a>
                        {% if not pet.taken %}
                            <a href="{% url 'pets:catch' pet.id %}">
                                <button type="button" class="btn btn-sm btn-outline-success">Caught</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="float-right">
                    <small class="text-muted">{{ pet.input_date }}</small>
                </div>
            </div>
        </div>
    </div>
{% endif %}